*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(212, 45%, 89%) ;
}
.card-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20.875em;
    max-height: 43.75em;
    margin: 8em auto;
    border: 1px solid white;
    border-radius: 1em;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9em;

}

.img {
    width: 18.75em;
    height: 18.75em;
    border: 1px solid hsl(0, 0%, 100%)  ;
    border-radius: 1em;
}
 h1 {
    text-align: center;
    font-family: "Outfit", serif;
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(218, 44%, 22%);
    padding: 0.9em 0em 0.6em 0em;
 }

 p {
    text-align: center;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 0.9375em;
    color: hsl(220, 15%, 55%);
    max-width: 17em;
    padding-bottom: 1.5em;
    
 }